<html>
    <head>
        <title>Activities</title>
        <style>
        #block_activity{
            display: block;
            background:#F45215;
            width: 300px;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            $("div").click(function(){
                $tok="./activity/"+$(this).children("#token").text();
               /* $.post('/activity',{
                    title: $(this).children("#title").text(),
                    description: $(this).children("#description").text(),
                    num_persons: $(this).children("#num_persons").text(),
                    location: $(this).children("#location").text(),
                    token:$(this).children("#token").text()
                });*/
                $.ajax({
                    type:'POST',
                    url:'/activity',
                    data:"ok",
                    success:function(data){
                        window.location.replace($tok);
                    }
                })
              
            });
        });
        </script>
    </head>
    <body>
        <%for (var i=0; i<events.length; i++){%>
            <div id="block_activity">
                <h1 id="title"><%=events[i].title%></h1>
                <p id="description"><%=events[i].description%></p>
                <p id="num_persons"><%=events[i].num_persons%></p>
                <p id="location"><%=events[i].location%></p>
                <p style="visibility: hidden" id="token"><%=events[i].token%></p>
            </div>
        <%}%>
    </body>
</html>